.navb{
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: space-around;
    top:  1px;
}

.but {
  background-color: rgba(254, 254, 254, 0);
  border: solid  0px rgba(0, 0, 0, 0.256);
  border-style: thin;
  margin: 1rem;
  scale: 1.5;
  }
  
  .but:hover {
    color: white;
  }
  
  .but:active {
  }

  #i{

  }

  #d{
  }