.navb{
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: space-around;
    top:  1px;
}

.but {
    --bg: #1dd2ea;
    --hover-bg: #ff90e8;
    --hover-text: #000;
    color: #fff;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
    margin-top: 1rem;
  }
  
  .but:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem,-0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
  }
  
  .but:active {
    transform: translate(0);
    box-shadow: none;
  }

  #i{
    border-top-left-radius: 100px ;
    border-bottom-left-radius:100px ;

  }

  #d{
    border-top-right-radius: 100px ;
    border-bottom-right-radius:100px ;
  }