


.inpu{
  background-color: rgba(254, 254, 254, 0);
  border: solid  1px rgba(0, 0, 0, 0.256);
  border-style: thin;
  margin-left: 3rem;
  scale: 1.5;
  color: black;
}



.bu {
  background-color: rgba(254, 254, 254, 0);
  border: solid  0px rgba(0, 0, 0, 0.256);
  border-style: thin;
  margin: 1rem;
  margin-left: 4rem;
  scale: 1.5;
  }
  
.bu:hover{
  color: white;
} 
  
  .ph{
    justify-content: center;
    margin: auto;
  }

  
.inpu:hover{
  border: solid  1px rgb(237, 235, 235);
}