.changuito{
    line-height: 1em;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 70%;
    border: 1px solid;
    margin-top: 7%;
    margin-left: 25%;
    height: 70vh;
    background-image: url("../../../public/blob-scene-haikei.png");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}