.changuito{
    line-height: 1em;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 95vw;
    border: 1px solid;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    height: 70vh;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #4b4b4b;
}